body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-bottom: 75px;
  background-color: navy !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.power-card-clicked {
  background-color: lightgreen !important;
  
}

.power-card {
  background-color: white !important;
}

.point-box {
  position: fixed !important;
  bottom: 0;
  width: 72.2%;
  height: 9%;
}